<!--
  Generated template for the SalsOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="!readModel">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>销售订单</ion-title>
    </ion-navbar>
  
    <ion-navbar *ngIf="readModel">
      <ion-title text-center>销售订单</ion-title>
      <ion-buttons>
        <button ion-button (click)="exit()" icon-only>
            <ion-icon name='arrow-back' color = "primary"></ion-icon>
            <ion-icon name="md-close" showWhen="android"></ion-icon>
        </button>
      </ion-buttons>
        <ion-buttons end> <button ion-button (click)="removeOrder()" 
          color="primary">删除</button>
        </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group inset="true" [formGroup]="orderForm" >

      <ion-item >
        <ion-label color="primary" floating>订单编号</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">*订单日期</ion-label>
        <ion-datetime displayFormat="YYYY年 MM月 DD日" pickerFormat="YYYY MM DD" formControlName="date" autocorrect="on"></ion-datetime>
      </ion-item>

      <br>
      <ion-item>
        <ion-label color="primary" floating>收取人</ion-label>
        <ion-input type="text" formControlName="sender" autocorrect="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>传真</ion-label>
        <ion-input type="tel" formControlName="faxSender" autocorrect="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>电话</ion-label>
        <ion-input type="tel" formControlName="telSender" autocorrect="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>*单位</ion-label>
        <ion-input type="text" formControlName="dept"  (input)="getDept($event)" (change)="endInputDept($event)"></ion-input>
      </ion-item>
      <ion-grid id="deptSearchList" *ngIf="gridShow">
          <ion-row *ngFor="let dept of depts" (click)="selectDept(dept)">
            <ion-col class="grid">{{dept.name}}</ion-col>
          </ion-row>
      </ion-grid>
        <p *ngIf="productNotFound" class="notFoundMsg">未找到对应单位</p>

      <br>
      <ion-item>
        <ion-label color="primary" floating>发送人</ion-label>
        <ion-input type="text" formControlName="receiver" autocorrect="on"></ion-input>
      </ion-item>  

      <ion-item>
        <ion-label color="primary" floating>传真</ion-label>
        <ion-input type="tel" formControlName="faxReceiver" autocorrect="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>电话</ion-label>
        <ion-input type="tel" formControlName="telReceiver" autocorrect="on"></ion-input>
      </ion-item>
      <br>

      <ion-item>
          <ion-label color="primary" floating>备注</ion-label>
          <ion-textarea formControlName="descript"></ion-textarea>
      </ion-item>

      <ion-item></ion-item>
  </ion-item-group>

  <a ion-item (click)="presentModal()">
      添加货物
  </a>

  <ion-list id="listProduct" >
    <ion-card *ngFor="let product of listProduct" (click) = "presentModal(product, listProduct.indexOf(product))"> 
      <ion-card-header>
        {{product.nameProduct}}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row inline>
            <ion-col>数量 : {{product.numberProduct}} {{product.unitProduct}}</ion-col>
            <ion-col>单价 : {{product.priceProduct}}</ion-col>
            <ion-col>金额 : {{product.amount}} 元</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>交货日期 : {{product.datePayProduct}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>备注 : {{product.descriptProduct}} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  <button ion-button [disabled]="!orderForm.valid" (click) = "logForm()" block>保存</button>
</ion-content>
